{% extends "base.html" %}
<!--- title section--->
{% block title %}
    {{catalog.name}}
{% endblock %}

<!--- CSS section--->
{% block css %}
    <link href="/static/styles/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet" />
    <link href="/static/styles/jquery.jqChart.css" type="text/css" rel="stylesheet" />
    <link href="/static/styles/ui.jqgrid.css" type="text/css" rel="stylesheet" />
{% endblock %}

<!--- content section--->
{% block content %}
    <div class="row">
        <div class="span4">
            <h2>{{catalog.name}}</h2>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#catalog_info" data-toggle="tab">Catalog Info</a></li>
                    <li class=""><a href="#catalog_filter" data-toggle="tab"> Filters Info</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="catalog_info">
                        <table class="table table-striped table-bordered table-condensed">
                            <tbody id="catalog_content">
                                <tr>
                                    <th>Name</th>
                                    <td name="catalog_name">{{catalog.name}}</td>
                                </tr>
                                <tr>
                                    <th>Key</th>
                                    <td name="catalog_key">{{catalog.key}}</td>
                                </tr>
                                <tr>
                                  <th>WebProducer</th>
                                  <td name="catalog_webproducer">{{catalog.webproducer}}</td>
                                </tr>
                                <tr>
                                  <th>Developers</th>
                                  <td name="catalog_developers">{{catalog.developers}}</td>
                                </tr>
                                <tr>
                                  <th>Revision In Dev</th>
                                  <td name="catalog_revision_indev">{{catalog.revision_indev}}</td>
                                </tr>
                                <tr>
                                  <th>Revision In Test</th>
                                  <td name="catalog_revision_intest">{{catalog.revision_intest}}</td>
                                </tr>
                                <tr>
                                  <th>Catalog URL</th>
                                  <td name="catalog_url"><a href="{{catalog.url}}" target="_blank" />{{catalog.url}}</a></td>
                                </tr>
                                <tr>
                                  <th>Default Filter</th>
                                  <td name="catalog_default_filter">{{catalog.default_filter}}</td>
                                </tr>
                            </tbody>
                        </table>                     
                        <p>
                            <a class="btn btn-primary" href="#catalog_form_div" data-toggle="modal" style="align:center" >Edit Catalog</a>
                        </p>
                    </div>
                    <div class="tab-pane" id="catalog_filter">
                        <table class="table table-striped table-bordered table-condensed">
                          <thead>
                            <tr>
                               <th>Key</th>
                               <th>Query</th>
                            </tr>
                          </thead>
                          <tbody>
                           {% for item in filters %}
                               <tr>
                                   <td>{{item.key}}</td>
                                   <td>{{item.query}}</td>
                               </tr>
                           {% empty %}
                               There's no records.
                           {% endfor %}
                          </tbody>
                        </table>
                        <p>
                            {% ifequal is_private 1 %}
                            <a class="btn btn-primary" href="#filter_form_div" data-toggle="modal" id="filter_edit">Edit Filter</a>
                            {% else %}
                            <a class="btn btn-primary" href="#filter_form_div" data-toggle="modal" id="filter_create" >Create Private Filter</a>
                            {% endifequal %}
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="span8">
            <h2>{{catalog.name}} WIP Data & Chart</h2>
            <div class="row">
                <div class="span8" id="search_div">
                    <!--- Include search_form.html--->
                    {% include 'search_form.html' %}
                </div>
            </div>
            {% csrf_token %}
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#catalog_data" data-toggle="tab">WIP Data</a></li>
                    <li><a href="#line_chart" data-toggle="tab">WIP Line Chart</a></li>
                    <li><a href="#area_chart" data-toggle="tab">WIP Area Chart</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="catalog_data">
                        <div class="span8" style="margin:0 0 0 0">
                            <p align="right">
                                <a class="btn btn-primary" id="addRecord" href="#">Add Record</a>
                                <a class="btn btn-primary" id="importRecords" href="#" style="display:none">Import Records</a>
                                <a class="btn btn-primary" id="exportRecords" href="#" style="display:none">Export Records</a>
                            </p>
                            <table id="grid" > </table>
                            <div id="gridpage"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="line_chart">
                        <div class="span8" style="margin:0 0 0 0">
                            <div class="controls" id="chartlines">
                                <label class="checkbox inline">
                                    <input type="checkbox" value="analysis_line" name="analysis_line">InAnalysis
                                </label>                          
                                <label class="checkbox inline">
                                    <input type="checkbox" value="removed_line" name="removed_line">Removed
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" value="indev_line" name="indev_line">InDevelopment
                                </label>                                
                                <label class="checkbox inline">
                                    <input type="checkbox" value="resolved_line" name="resolved_line">Resolved
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" value="released_line" name="released_line">Released
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" value="ready_line" name="ready_line">Ready for coding
                                </label>                                  
                                <label class="checkbox inline">
                                    <input type="checkbox" value="blocked_line" name="blocked_line">Blocked
                                </label>                                
                            </div>
                        </div>   
                        <div id="lineChart" style="height: 450px; margin:0 0 0 0" class="span8">
                        </div>
                    </div>
                    <div class="tab-pane" id="area_chart">
                        <div class="span8" style="margin:0 0 0 0">
                            <div class="controls" id="chartareas">                                    
                                <label class="checkbox inline">
                                    <input type="checkbox" value="total_area" name="total_area">CFD-Backlog
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" value="indev_area" name="indev_area">CFD-InDev
                                </label>                                
                                <label class="checkbox inline">
                                    <input type="checkbox" value="released_area" name="released_area">CFD-InLive
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" value="resolved_area" name="resolved_area">CFD-Done
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" value="testing_area" name="testing_area">CFD-InTest
                                </label>
                            </div>
                        </div>   
                        <div id="areaChart" style="height: 450px; margin:0 0 0 0" class="span8">
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
<!--- Include catalog_form.html--->    
{% include 'catalog_form.html' %}
<!--- Include filter_form.html--->    
{% include 'filter_form.html' %}

{% endblock %}
<!--- javascript section--->
{% block javascript %}
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/static/scripts/jquery.jqChart.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/static/scripts/grid.locale-en.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.cookie.js"></script>    
    <script lang="javascript" type="text/javascript">
        function pickdates(id){ 
            $("#"+id+" td input[name='fields.created']").datepicker({dateFormat:"yy-mm-dd",changeYear: true,changeMonth: true}); 
            $("#"+id+" td input[name='fields.blocked_count']").focus(); 
        }
        function chart_load(url,data){
            //ajax get Json data
            $.ajax({
              url: url,
              dataType: 'json',
              data: data,
              success: function(data){
                var data_analysis_json = new Array();
                var data_ready_json = new Array();
                var data_indev_json = new Array();
                var data_resolved_json = new Array();
                var data_blocked_json = new Array();
                var data_removed_json = new Array();
                var data_total_json = new Array();
                var data_released_json = new Array();
                var data_testing_json = new Array();
                var data_cfdidve_json = new Array();
                for (var n in data.root){
                    var obj = data.root[n].fields;
                    data_analysis_json.push(new Array(new Date(obj.created),obj.analysis_count));
                    data_removed_json.push(new Array(new Date(obj.created),obj.removed_count));
                    data_indev_json.push(new Array(new Date(obj.created),obj.indev_count));
                    data_ready_json.push(new Array(new Date(obj.created),obj.ready_count));
                    data_resolved_json.push(new Array(new Date(obj.created),obj.resolved_count));
                    data_blocked_json.push(new Array(new Date(obj.created),obj.blocked_count));
                    data_total_json.push(new Array(new Date(obj.created),obj.total_count));
                    data_released_json.push(new Array(new Date(obj.created),obj.released_count));
                    data_testing_json.push(new Array(new Date(obj.created),obj.testing_count));
                    data_cfdidve_json.push(new Array(new Date(obj.created),obj.total_count - obj.analysis_count - obj.ready_count))
                }
                var analysis_line = {type:'line',title:'in analysis',strokeStyle:'#007979',markers:{fillStyle : '#007979'},data:data_analysis_json};
                var ready_line={type:'line',title:'ready for coding',strokeStyle:'#62c462',markers:{fillStyle : '#62c462'},data:data_ready_json};
                var indev_line={type:'line',title:'in dev',strokeStyle:'#FAA732',markers:{fillStyle : '#FAA732'},data:data_indev_json};
                var resolved_line={type:'line',title:'resolved',strokeStyle:'#5BC0DE',markers:{fillStyle : '#5BC0DE'},data:data_resolved_json};
                var blocked_line={type:'line',title:'blocked',strokeStyle:'#EE5F5B',markers:{fillStyle : '#EE5F5B'},data:data_blocked_json};
                var removed_line={type:'line',title:'removed',strokeStyle:'#BE77FF',markers:{fillStyle : '#BE77FF'},data:data_removed_json};
                var released_line={type:'line',title:'released',strokeStyle:'#0088cc',markers:{fillStyle : '#0088cc'},data:data_released_json};
                //Line Chart
                $('#lineChart').jqChart({
                    title: { text: '{{catalog.name}} Line Chart' },
                    series: [released_line,removed_line,analysis_line,indev_line,resolved_line,ready_line,blocked_line]
                });
                //set all the .btn to active,when the page is loaded. 
                $("#chartlines label input:checkbox").each(function(){
                    this.checked = true;
                });
                $("#chartlines label input:checkbox").bind('click',function(){
                    var lines = new Array();
                    $("#chartlines label input:checked").each(function(index){
                        lines.push(eval($(this).attr("value")));
                    });
                    $('#lineChart').jqChart({
                        title: { text: '{{catalog.name}} Line Chart' },
                        series: lines
                    });
                });
                //Area Chart
                var total_area = {type:'area',title:'CFD-Backlog',fillStyle:'#0088cc',data:data_total_json};
                var released_area = {type:'area',title:'CFD-inLive',fillStyle:'#FAA732',data:data_released_json};
                var indev_area ={type:'area',title:'CFD-inDev',fillStyle:'#62c462',data:data_cfdidve_json};                
                var resolved_area ={type:'area',title:'CFD-Done',fillStyle:'#5BC0DE',data:data_resolved_json};
                var testing_area = {type:'area',title:'CFD-inTest',fillStyle:'#EE5F5B',data:data_testing_json};
                $('#areaChart').jqChart({
                    title: { text: '{{catalog.name}} Area Chart' },
                    series: [total_area,indev_area,released_area,resolved_area,testing_area]
                });
                //set all the .btn to active,when the page is loaded. 
                $("#chartareas label input:checkbox").each(function(){
                    this.checked = true;
                });
                $("#chartareas label input:checkbox").bind('click',function(){
                    var areas = new Array();
                    $("#chartareas label input:checked").each(function(index){
                        areas.push(eval($(this).attr("value")));
                    });
                    $('#areaChart').jqChart({
                        title: { text: '{{catalog.name}} area Chart' },
                        series: areas
                    });
                });
              }
            });
        }
        function grid_load(url,data){
            $("#grid").jqGrid({
                url: url,
                datatype: "json",
                colNames:['id','created','analysis','ready','indev','resolved','blocked','removed','testing','released','total','action'],
                colModel:[
                    {name:'pk',index:'id',width:40,sortable:false,align:"center",hidden:false},
                    {name:'fields.created',index:'created',width:80,sortable:false,align:"center",editable:true,editrules:{required:true,date:true}},
                    {name:'fields.analysis_count',index:'analysis_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.ready_count',index:'ready_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.indev_count',index:'indev_count', width:50, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.resolved_count',index:'resolved_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.blocked_count',index:'blocked_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.removed_count',index:'removed_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.testing_count',index:'testing_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.released_count',index:'released_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'fields.total_count',index:'total_count', width:60, align:"center",sortable:false,editable:true,editrules:{required:true,number:true}},
                    {name:'action',index:'action',width:110,align:"center"}
                ],
                mtype:"GET",
                postData:data,
                height: 'auto',
                width: 770,
                shrinkToFit: true,
                rowNum: 15,
                pager: '#gridpage',
                viewrecords: true,
                jsonReader:{
                    root: 'root',
                    records: 'records',
                    id: 'pk',
                    repeatitems: false
                },
                reloadAfterSubmit: true,
                editurl: "/wip/data/edit/update/",
                gridComplete:function(){
                    var ids = $("#grid").jqGrid('getDataIDs');
                    for(var i=0;i<ids.length;i++){
                        id = ids[i];
                        edit = "<span class='badge badge-success' title='edit' onclick=\"$('#grid').editRow('"+id+"',true,pickdates);\" >E</span>";
                        save = "<span class='badge badge-warning' title ='save' onclick=\"$('#grid').saveRow('"+id+"',{extraparam:{catalog_id:{{catalog.id}},'csrfmiddlewaretoken':'"+$.cookie("csrftoken")+"'}});\">S</span>";
                        cancel = "<span class='badge badge-info' title='cancel' onclick=\"$('#grid').restoreRow('"+id+"');\">C</span>";
                        del = "<span class='badge badge-error' title='delete' onclick=\"$('#grid').jqGrid('delGridRow','"+id+"',{delData:{'csrfmiddlewaretoken':'"+$.cookie("csrftoken")+"'}});\">D</span>";                    
                        $('#grid').jqGrid('setRowData',ids[i],{action:edit+save+cancel+del});
                    }
                }
            });
        }
        function validate_msg(msg){
            if ($(".well .alert").length == 0){
                $(".well").append("<div class='alert alert-error' style='margin-top:10px'><a class='close' data-dismiss='alert'>×</a><strong>Warning!</strong>"+ msg +"</div>");
            }else{
                $(".well .alert").html("<a class='close' data-dismiss='alert'>×</a><strong>Warning!</strong>"+ msg);
            }
        }
		// http://docs.jquery.com/Plugins/Validation/Methods/date
		function check_date(value) {
			return !/Invalid|NaN/.test(new Date(value));
		}
		// http://docs.jquery.com/Plugins/Validation/Methods/dateISO
		function check_dateISO(value) {
			return /^\d{4}[\/-]\d{1,2}[\/-]\d{1,2}$/.test(value);
		}  
        $(document).ready(function () {
            //jqgrid
            grid_load('/wip/data/json/{{catalog.key}}/','');            
            //jqchart
            chart_load('/wip/data/json/{{catalog.key}}/?rows=all','');        
            //Set datepicker to date input
            $('#search_div input[name$="_date"]').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true
            });
            //set the date to empty
            $('#search_div input[name$="_date"]').val("");
            //bind the change event to date
            $('#search_div input[name$="_date"]').change(function(){
                $(".alert").alert('close');
            });
            $("#load_search").click(function(){
                $(".alert").alert('close');
                var start = $('#search_div input[name="start_date"]').val();
                var end = $('#search_div input[name="end_date"]').val();
                if (start == "" || !check_date(start)){
                    validate_msg("     please enter a valid start date!");
                }else if (end == "" || !check_date(end)){
                    validate_msg("     please enter a valid end date!");
                }else if (new Date(start) > new Date(end)){
                    validate_msg("     start date should be earier than end date!");
                }else{
                    var postdata = {start_date:start,end_date:end};
                    //reload jqgrid
                    $("#grid").setGridParam({postData:postdata}).trigger("reloadGrid");
                    //reload jqchart
                    chart_load('/wip/data/json/{{catalog.key}}/?rows=all', postdata);                
                }
            });
            $("#load_all").click(function(){
                $(".alert").alert('close');
                //set the date to empty  
                $('#search_div input[name$="_date"]').val("");
                //reload jqgrid
                $("#grid").setGridParam({postData:''}).trigger("reloadGrid");
                //reload jqchart
                chart_load('/wip/data/json/{{catalog.key}}/?rows=all', '');
            });            
            //submit the catalog_modal by post
            $("#catalog_save").click(function(){
                $.post(
                    "/wip/catalog/edit/update/",
                    $("#catalog_form").serialize(),
                    function(data){
                        $("#catalog_form_div").modal('hide');
                        location.href="/wip/data/{{catalog.key}}/";                    
                    },
                    "json"
                ); 
            });
            //submit the filter_modal by post            
            $("#filter_save").click(function(){
                $.post(
                    "/wip/filter/edit/update/",
                    $("#filter_form").serialize(),
                    function(data){
                        $("#filter_form_div").modal('hide');
                        location.href="/wip/data/{{catalog.key}}/";                    
                    },
                    "json"
                ); 
            });
            $("#addRecord").click(function(){
                parameters = {
                    position :"first",
                    useDefValues : false,
                    useFormatter : false,
                    reloadAfterSubmit  : true               
                };
                $("#grid").jqGrid('addRow',parameters);
                pickdates("new_row");         
            }); 
        });
    </script>
{% endblock %}